/* ButtonGroup **************************/

.ButtonGroup {
    outline: 1px solid transparent;
    -webkit-transition: outline-color .3s ease-out;
    transition: outline-color .3s ease-out;
    width: 100%;
}

.ButtonGroup_button {
    &.Button {
        background-color: #fff;
        border-color: #dcdcdc;
        border-radius: 0;
        border-right-width: 0;
        margin: 0;
        margin-right: 0;
        span.fa {
            pointer-events: none;
        }
    }
    * {
        color: #2a2a2a;
    }
    &.active {
        background: rgba(238, 238, 238, 1);
        background: -moz-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(224, 224, 224, 1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(238, 238, 238, 1)), color-stop(100%, rgba(224, 224, 224, 1)));
        background: -webkit-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(224, 224, 224, 1) 100%);
        background: -o-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(224, 224, 224, 1) 100%);
        background: -ms-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(224, 224, 224, 1) 100%);
        background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%, rgba(224, 224, 224, 1) 100%);
        border-color: #ccc;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }
    &.Button:last-child {
        border-right-width: 1px;
    }
    input[type=radio] {
        filter: alpha(opacity=0);
        opacity: 0;
        position: absolute;
        z-index: -1;
        -servicestudio-margin-left: 0 !important;
        -servicestudio-opacity: .6;
        -servicestudio-z-index: 1;
    }
    &.Button.disabled {
        background-color: #f5f5f5;
        color: #999;
        cursor: default;
        &:hover {
            background-color: #f5f5f5;
            color: #999;
            cursor: default;
        }
    }
}

.Form:not(.form-top) .ButtonGroup_button {
    padding-top: 0;
}


/* Remove Margin When use ButtonGroup on Filters_Wrapper */

.Filters_Wrapper .ButtonGroup_button.Button {
    margin-left: 0;
}


/* Responsive Context **************************/

.phone {
     :not(.NoResponsive)>.ButtonGroup .ButtonGroup_button {
        &.Button,
        a.Button {
            border-right-width: 1px;
            box-shadow: none;
            text-align: center;
        }
        &.Button {
            border-bottom-width: 0;
            border-right-width: 1px;
            width: 100%;
            &:last-child {
                border-bottom-width: 1px;
                width: 100%;
            }
        }
    }
    .NoResponsive {
        >.ButtonGroup {
            &.ButtonGroup2 .ButtonGroup_button.Button {
                width: 50%;
            }
            &.ButtonGroup3 .ButtonGroup_button.Button {
                width: 33.33%;
            }
            &.ButtonGroup4 .ButtonGroup_button.Button {
                min-width: 60px;
                width: 25%;
            }
            &.ButtonGroup5 .ButtonGroup_button.Button {
                min-width: 46px;
                width: 20%;
            }
        }
        position: relative;
    }
}