
/* Calendar **************************/

.pika-single {
    z-index: 1;
    background: #fff;
    border: 1px solid #ccc;
    color: #333;
    cursor: default;
    font-size: 12px;
    line-height: 14px;
    min-width: 250px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:before {
        content: " ";
        display: table;
    }
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
    &.is-hidden {
        display: none;
    }
}

.pika-lendar {
    width: 100%;
}

.is-bound .pika-lendar {
    max-width: 250px;
}

.pika-title {
    position: relative;
    text-align: center;
    height: 50px;
    border-bottom: 1px solid #ccc;
}

.pika-label {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    background-color: #fff;
    &:first-child {
        padding-top: 5px;
    }
}

.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: absolute;
    outline: none;
    border: 0;
    padding: 0;
    width: 30px;
    height: 50px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    position: absolute;
    top: 0;
    color: transparent;
    z-index: 9999;
}

.pika-prev,
.is-rtl .pika-next {
    left: 30px;
    top: 0;
    border-right: 1px solid #ccc;
}

.pika-prev:after {
    content: '‹';
    position: absolute;
    color: #333;
    width: 100%;
    font-size: 30px;
    z-index: 999999;
    left: 0;
    top: 5px;
    height: 50px;
}

.pika-next,
.is-rtl .pika-prev {
    right: 30px;
    top: 0;
    border-left: 1px solid #ccc;
}

.pika-next:after {
    content: '›';
    position: absolute;
    color: #333;
    width: 100%;
    font-size: 30px;
    z-index: 999999;
    left: 0;
    top: 5px;
    height: 50px;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .3;
}

.pika-select {
    display: inline-block;
    pointer-events: none;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    table-layout: fixed;
    th {
        color: #333;
        font-size: 12px;
        line-height: 32px;
        text-align: center;
        opacity: 0.5;
        font-weight: 400;
        border-bottom: 1px solid #ccc;
    }
}

.pika-button {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #666;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #fff;
}

.pika-week {
    line-height: 22px;
    padding: 5px !important;
    opacity: 0.5;
    border-right: 1px solid #ccc;
}

.is-today .pika-button {
    color: #333;
    font-weight: bold;
}

.is-selected .pika-button {
    color: #fff;
    font-weight: bold;
    background: #666;
}

.is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    opacity: .2 !important;
    background-color: #f1f1f1;
    color: #666;
}

.is-outside-current-month .pika-button {
    opacity: .7;
}

.pika-button:hover {
    background: #ccc;
}

.pika-time-section {
    background-color: white;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.pika-label {
    z-index: 9998;
}

td.has-event {
    position: relative;
}

.has-event .pika-button:after {
    background-color: #666;
    border-radius: 50%;
    content: "";
    height: 4px;
    position: absolute;
    width: 4px;
    bottom: 4px;
    left: 50%;
    margin-left: -2px;
}

.is-selected {
    &.has-event .pika-button:after,
    &.is-today.has-event .pika-button:after {
        background-color: #fff;
    }
}

.pika-lendar {
    .Calendar-navBtn {
        width: 30px;
        z-index: 99999;
    }
    .Calendar-prevYear {
        border-right: 1px solid #ccc;
        left: 0;
    }
    .Calendar-nextYear {
        border-left: 1px solid #ccc;
        right: 0;
        left: auto;
    }
}

.pika-single:not(.is-bound) {
    .Calendar-navBtn,
    .pika-prev {
        width: 80px;
    }
    .pika-next {
        width: 80px;
        right: 80px;
    }
    .pika-prev {
        left: 80px;
    }
}