/*
    File: Patterns_SilkUI
    Version: 10.0.707
/*


/*------------------------------------*\
        $1. General Properties
\*-------------------------------------*/
// _config.scss
$font: (
    color: #151515,
    //family: (Arial, Helvetica),
    size: 14px,
    //line-height: 1.4
  );


html {
    -webkit-text-size-adjust: 100%;
}

body {
    color: map-get($font, color);
    font-size: map-get($font, size);

    font-weight: normal;
    margin: 0;
    padding: 0;
}

a {
    color: #125f90;
    text-decoration: none;
    &:link,
    &:visited {
        color: #125f90;
        text-decoration: none;
    }
    &:hover {
        text-decoration: underline;
    }
    &[disabled="disabled"] {
        color: #ccc;
        text-decoration: none;
        &:hover {
            color: #ccc;
            text-decoration: none;
        }
    }
}

div[onclick] {
    cursor: pointer;
}