/* ImageStyle **************************/

img {
    &.Image_circle {
        border-radius: 50%;
    }
    &.Image_rounded {
        border-radius: 6px;
    }
    &.Image_thumb {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        display: inline-block;
        height: auto;
        line-height: 1.42857143;
        max-width: 100%;
        padding: 4px;
    }
}