
$color--transparent: transparent;
$color--white: #fff;
$color--silver: #ecf0f1;
$color--gray:  #7f8c8d;
$color--black: #000;

// Main Color Variables
$color--green: #27ae60;
$color--green__light: #2ecc71;
$color--yellow:  #f1c40f;
$color--orange: #f39c12;
$color--red: #e74c3c;
$color--red__dark: #c0392b;
$color--blue: #2980b9;
$color--blue__dark: #2c3e50;
$color--turquoise: #1abc9c;
$color--plum: #9b59b6;
$color--plum__dark: #8e44ad;

// Chart Colors
$color-chart-1: #e83e26;
$color-chart-2: #00a8c4;
$color-chart-3: #e68a00;
$color-chart-4: #f3da61;
$color-chart-5: #88b23a;
$color-chart-6: #a5d38e;
$color-chart-7: #cc1439;
$color-chart-8: #e68c7c;
$color-chart-9: #976bb3;
$color-chart-10: #ccb8cc;

// Text Colors
$text-color--main: #333;
$text-color--light: #666;