
/* ListItem **************************/

.ListItem {
    border-bottom: 1px solid #ccc;
    display: table;
    line-height: 1;
    padding: 15px 20px;
    width: 100%;
    span.fa {
        margin-right: 10px;
    }
}

a {
    .ListItem {
        padding-right: 50px;
        position: relative;
        &:after {
            content: "\f105";
            font-family: FontAwesome;
            font-size: 18px;
            margin-top: -9px;
            position: absolute;
            right: 20px;
            top: 50%;
        }
    }
    &:hover>.ListItem {
        background-color: #efefef;
    }
    >.ListItem.active,
    &:active>.ListItem {
        background-color: #ccc;
    }
}


/* ListItemGroup **************************/

.ListItemGroup {
    background-color: #fff;
    border: 1px solid #ccc;
    > {
        a:last-child>.ListItem,
        .ListItem:last-child {
            border-bottom: none;
        }
        span> {
            a:last-child>.ListItem,
            .ListItem:last-child {
                border-bottom: none;
            }
            span:last-child> {
                a>.ListItem,
                .ListItem {
                    border-bottom: none;
                }
            }
        }
    }
    a {
        text-decoration: none;
    }
}

.Panel .ListItemGroup {
    background-color: transparent;
    border: none;
    border-left: none;
    border-right: none;
}


/* ListItemToggle **************************/

.ListItemToggle {
    .ListItemContent {
        display: table-cell;
        height: 100%;
        vertical-align: middle;
    }
    .WrapperToggleButton {
        display: table-cell;
        width: 70px;
    }
    .ToggleButton {
        display: inline-block;
        float: right;
    }
}