
/* Tile **************************/

.Tile {
    display: table;
    height: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 100%;

    // Fix for firefox
    // cannot find reference to property value!!!
    .firefox & {
        display: -moz-deck;
    }

    // Row
    .Row {
        display: table-row;
    }
    
    // href tile
    a & {
        text-decoration: none;
    }

    // InfoTooltip
    .InfoTooltip {
        margin: 0;
        position: absolute;
        right: 5px;
        top: 5px;
    }

    .fa-fw {
        width: auto;
    }

    // Icon
    &.TileIcon {
        padding: 10px 0 10px;
    }

    // Sizes
    &.Small {
        // Firefox - initial flexbox implementation. should be removed
        display: -moz-box; 
        -moz-box-align: center;
        -moz-box-pack: center;

        line-height: 20px;
        min-height: 80px;
        width: 100%;

        .InfoTooltip {
            font-size: 10px;
            right: 2px;
            top: 2px;
        }
        .TileIcon_icon {
            font-size: 30px;
        }
        .TileIcon_text {
            font-size: 16px;
        }
        .TileIconText_icon {
            font-size: 36px;
        }
        .TileIconText_right {
            font-size: 16px;
        }
        .TileNumber_number {
            font-size: 18px;
        }
        .TileNumber_text {
            font-size: 14px;
        }
    }

    &.Medium {
        // Firefox - initial flexbox implementation. should be removed
        display: -moz-box;
        -moz-box-align: center;

        min-height: 180px;
        width: 100%;  
        
        .TileIcon_icon {
            font-size: 60px;
        }
        .TileIcon_text {
            font-size: 22px;
        }
        .TileIconText_icon {
            font-size: 72px;
        }
        .TileIconText_right {
            font-size: 22px;
        }
        .TileNumber_number {
            font-size: 48px;
        }
        .TileNumber_text {
            font-size: 20px;
        }
    }

    &.Large {
        // Firefox - initial flexbox implementation. should be removed
        display: -moz-box;
        -moz-box-align: center;
        -moz-box-pack: center;

        min-height: 280px;
        width: 100%;

        .TileIcon_icon {
            font-size: 70px;
        }
        .TileIcon_text {
            font-size: 28px;
        }
        .TileIconText_icon {
            font-size: 88px;
        }
        .TileIconText_right {
            font-size: 28px;
        }
        .TileNumber_number {
            font-size: 62px;
        }
        .TileNumber_text {
            font-size: 20px;
        }

        // ie fix: version ???
        // issue: ???
        .ie & {
            .TileNumber_number {
                height: 50%;
                vertical-align: bottom;
            }
            .TileNumber_text {
                height: 50%;
                vertical-align: top;
            }
        }
    }
}

// Icon
.TileIcon_icon {
    display: table-cell;
    font-size: 48px;
    vertical-align: middle;
}

.TileIcon_text {
    display: table-cell;
    font-size: 16px;
    vertical-align: middle;
}

.TileIconText_icon {
    display: table-cell;
    font-size: 60px;
    vertical-align: middle;
    width: 120px;
}

.TileIconText_right {
    display: table-cell;
    font-size: 16px;
    padding-right: 20px;
    vertical-align: middle;
}

// Number
.TileNumber_number {
    display: table-cell;
    font-size: 45px;
    font-weight: 700;
    vertical-align: bottom;
}

.TileNumber_text {
    display: table-cell;
    vertical-align: top;
}