/* Alert **************************/

.Alert {
    border: 1px solid #ccc;
    color: #fff;
    margin-bottom: 20px;
    padding: 10px 10px 10px 35px;
    position: relative;
    width: 100%;

    @if ($studio) {
        -servicestudio-background-color: #999;
    }
    
    // Icon - fontawesome
    span.fa {
        font-size: 16px;
        left: 10px;
        position: absolute;
        top: 12px;
    }

    // Generate alert variants
    @each $name, $value in $alert-color-map {
        // Use function to capitalize each word
        &.#{pascalize($name)} {
            // Get nested map name and color from function
            background-color: map-deep-get($alert-color-map,$name,bg);
            border-color: map-deep-get($alert-color-map,$name,border);
        }
    } 

}

