/* Box **************************/

.Box {
    background-color: #e4e4e4;
    margin: 20px 0;
    padding: 20px;

    &:first-child {
        margin-top: 0;
    }

    .Columns:last-child .Column {
        margin-bottom: 0;
    }

    .Section {
        margin: 20px 0;
        padding: 10px;
    }

    // Responsive properties
    @if ($phone) {
        .phone .Box {
            padding: 10px;
        }
    }

}