/* SectionExpandable **************************/

.Panel .SectionExpandable {
    margin-top: 0;
}

.Panel_content.nopadding {
    padding: 0;
}

.SectionExpandable_header {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    display: table;
    margin-top: 0;
    padding: 0 0 5px 0;
    width: 100%;
}

.SectionExpandable.expanded .SectionExpandable_header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.SectionExpandable__title.Heading2 {
    display: table-cell;
    min-width: 100px;
    text-align: left;
    vertical-align: middle;
    span.fa {
        margin-right: 5px;
    }
}

.SectionExpandable__icon.Heading2 {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    width: 16px;
}

.SectionExpandable.expanded .SectionExpandable__icon {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.SectionExpandable_content {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: none;
    box-sizing: content-box;
    height: 0;
    margin-top: 0;
    overflow: hidden;
    padding: 0 10px;
    -webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    visibility: visible;
    -servicestudio-height: auto;
}

.SectionExpandable {
    &.autoheight .SectionExpandable_content {
        display: block;
        height: auto !important;
        -webkit-transition: 0;
        transition: 0;
    }
    &.expanded .SectionExpandable_content {
        display: block;
        height: auto;
        overflow: visible;
        padding: 10px;
        visibility: visible;
    }
}