/* Section **************************/

.Section {
    margin: 20px 0 0;

    &:first-child {
        margin-top: 0;
    }
}

.Section_header {
    border-bottom: 1px solid #ccc;
    display: table;
    margin-top: 0;
    min-height: 38px;
    padding-bottom: 5px;
    width: 100%;

    // Responsive context
    @if ($tablet) == true or ($phone) == true {
        .tablet &,
        .phone & {
            min-height: 44px;
        }
    }

}

.Section__title.Heading2 {
    display: table-cell;
    min-width: 100px;
    vertical-align: middle;

    span.fa {
        margin-right: 5px;
    }
}

.Section_content {
    padding-top: 10px;
}

.Section__actions {
    display: table-cell;
    min-width: 100px;
    text-align: right;
    vertical-align: middle;

    > * {
        float: right;
        margin-left: 10px;
    }
}